.lista {
    display: flex;
    align-items: center;
    margin: 1% 4%;
    /* height: 71vh; */
    font-family: 'Roboto', sans-serif;
}

.filtros {
    width: 20%;
    height: 64vh;
    box-shadow: 0px 4px 4px #00000040;

}

.cards {
    width: 80%;
    /* height: 66vh; */
    margin-left: 2%;
}

.il-spinner {
    display: flex;
    align-items: center;
    position: relative;
    top: 15em;
    left: 50%;
}