.home {
    margin: 0 5% 0 5%;
    /* height: 71vh; */
}

.home-inicio {
    display: flex;
    flex-wrap: nowrap;
    /* max-height: 65vh; */
}

.centro {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 50%;
    margin-top: 3%;
}

.homeDesign {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10vh;
}

.mueblesNordicos {
    margin-bottom: 10vh;
}

.mueblesNordicos-texto {
    font-family: 'Merriweather', serif;
    font-size: 3rem;
}

.carrusel {
    width: 50%;
    color: black;
}

.compra {
    font-family: 'Merriweather', serif;
    font-size: 1.4rem;
}

.chatea {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    margin-left: 75%;
}

.iconoWs {
    padding-left: 2%;
    width: 1.5rem;
    height: 1.5rem;
    font-weight: bold;
}