.footer {
    height: 16vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1.5% 5% 0 5%;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5vh;
}

.footer-menu {
    font-family: 'Roboto', sans-serif; 
    font-size: 0.9rem;
    
}

.footer-titulo {
    font-size: 1.1rem;
}

.footer-redes {
    display: flex;
    flex-direction: row;
}

.footer-redes-detalle {
    color: white;
    display: flex;
    font-size: 0.9rem;
}

.footer-redes-nombre {
    margin-left: 10%;
}

.nav-link:hover {
    color: white;
}

.footer-logo {
    height: 100%;
}

